/*
* Novu Theme
* Created by : Ahmed Essa
* website : www.ahmedessa.net
*/


/* DEMO-5
==================================================
	- DEMO-5 -
    - About page -
	- Portfolio page -
    - blog page -
    - Responsive media queries -
    
*/


/* DEMO-5
==================================================
*/

.ms-section {
    background-size: cover !important;
}

.ms-left .ms-section {
    padding: 0 0px 0 150px;
}

.ms-left .ms-section.ms-1 {
    background: #eeeef0
}

.ms-left .ms-section.ms-1 h2,
.ms-left .ms-section.ms-1 .subtitle {
    color: #6f3f29;
}

.ms-left .ms-section.ms-2 h2,
.ms-left .ms-section.ms-2 .subtitle {
    color: #b39377;
}

.ms-left .ms-section.ms-3 h2,
.ms-left .ms-section.ms-3 .subtitle {
    color: #f1415d;
}

.ms-left .ms-section.ms-4 h2,
.ms-left .ms-section.ms-4 .subtitle {
    color: #396143;
}

.ms-left .ms-section.ms-2 {
    background: #f5f5f5
}

.ms-left .ms-section.ms-3 {
    background: #dedfd7
}

.ms-left .ms-section.ms-4 {
    background: #fff
}

.ms-section h2 {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 700
}

.ms-section .subtitle {
    font-size: 20px !important;
    color: #626262;
}

#multiscroll-nav span {
    left: -10px
}


/* About page
==================================================*/
.main-container {
    margin: 50px auto
}
.about-hed {
    background: -webkit-linear-gradient( rgba(225, 225, 225, .4), rgba(225, 225, 225, .4)), url(http://placehold.it/1920x1280);
    background: linear-gradient( rgba(225, 225, 225, .4), rgba(225, 225, 225, .4)), url(http://placehold.it/1920x1280);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 100px 20px;

}

/* profile page
==================================================*/
.main-container.portfolio-page {
    margin: 20px auto 50px;
}
.main-container .portfolio_filter li {
    float: left
}
.main-container .portfolio .categories-grid .categories ul li a.active {
    margin-left: 15px
}

/* blog page
==================================================*/
.blog_item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    display: block;
}

.blog_item h3 {
    font-size: 16px;
    margin-top: 20px;
    line-height: 27px;
    font-weight: bold;
    text-transform: inherit;
    letter-spacing: 1px;
}

.blog-content {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 0 0 5px 5px;
}

.blog-content .athour-img {
    position: absolute;
    width: 50px;
    top: -30px
}

.blog-main-img {
    border-radius: 5px 5px 0 0;
}

.blog-img-container {
    position: relative;
    overflow: hidden;
}

.blog-img-container span {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #7383B5;
    border-radius: 25px;
    z-index: 1;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}

.big-post .blog-img-container img {
    border-radius: 5px;
}

.content-overlay {
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    z-index: 1;
    color: #fff;
    width: 100%;
    bottom: -300px;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    -webkit-transition: all .5s;
    transition: all .5s
}

.big-post:hover .content-overlay {
    bottom: 0px;
}

.big-post a:hover,
.big-post a:focus {
    color: #f5f5f5;
}

.blog-text {
    margin: 50px;
}

.quote-post .blog-content {
    border-radius: 5px;
    color: #fff;
    background: #7383B5;
    padding: 0.25em;
    padding: 20px;
    text-align: center;
}

.quote-post .blog-content p {
    font-style: italic;
    font-size: 1.40em;
    font-family: 'Lora', serif;
    line-height: 1.4;
    color: #fff;
}

.quote-post .blog-content p::before {
    content: '\201C';
}

.quote-post .blog-content p::after {
    content: '\201D';
}

.quote-post .default-btn {
    color: #fff;
}

.quote-post img {
    margin-bottom: 20px;
}

.quote-post .default-btn:after {
    background-color: #fff;
}
.blog_container p {
    color: #999;
}

/* Responsive media queries
==================================================*/

@media (max-width: 1124px) {
    .ms-left .ms-section {
        padding: 0 0px 0 100px;
    }
}

@media (max-width: 1124px) {
    .ms-left .ms-section {
        padding: 0 0px 0 50px;
    }
}

@media (max-width: 745px) {
    .ms-left {
        width: 100% !important;
    }
    .ms-right {
        display: none!important;
    }
    .ms-left .ms-section {
        padding: 0 50px 0 50px;
    }
    .ms-left .ms-section.ms-1 {
        background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background-size: cover;
        background-position: center center;
    }
    .ms-left .ms-section.ms-2 {
        background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background-size: cover;
        background-position: center center;
    }
    .ms-left .ms-section.ms-3 {
        background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background-size: cover;
        background-position: center center;
    }
    .ms-left .ms-section.ms-4 {
        background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(http://placehold.it/1920x1280);
        background-size: cover;
        background-position: center center;
    }
}

@media (max-width: 620px) {
    #multiscroll-nav {
        display: none;
    }
    .ms-left .ms-section {
        padding: 0 20px 0 20px;
    }
}