/*
* Novu Theme
* Created by : Ahmed Essa
* website : www.ahmedessa.net
*/


/* DEMO-6
==================================================
	- DEMO-6 -
    - countdown -
	- notify input -
    - Responsive media queries -
    
*/


/* DEMO-6
==================================================
*/

html,
body {
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #0D0C1E;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    display: table;
}

.nav-trigger {
    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    left: 0;
    z-index: 1;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* countdown
==================================================
*/

.countdown-div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 10;
}

.countdown {
    display: inline-block;
}

.countdown li {
    float: left;
    margin: 0 30px;
}

.countdown li h1 {
    font-size: 100px;
    font-family: 'bavroregular';
    width: 150px;
    display: block;
    font-weight: bolder
}

.countdown p {
    margin: 0 0 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 6px;
}

.h-30 {
    height: 30px;
}


/* notify input
==================================================
*/

.notify {
    width: 100%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.notify input {
    height: 50px;
    border-radius: 0;
    background: transparent;
    box-shadow: 0 0 0;
    border: 2px solid #333;
    color: #333;
}

.notify input:focus {
    box-shadow: 0 0 0;
    border: 2px solid #666;
}

.notify button {
    background: #333;
    color: #fff;
    position: absolute;
    height: 50px;
    border: none;
    right: 0;
    top: 0;
    padding: 0 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.notify button:hover,
.notify button:focus {
    background: #444;
}

::-webkit-input-placeholder {
    color: #333 !important;
    text-transform: uppercase
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #333 !important;
    text-transform: uppercase
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #333 !important;
    text-transform: uppercase
}

:-ms-input-placeholder {
    color: #333 !important;
    text-transform: uppercase
}


/* Responsive media queries
==================================================
*/

@media (max-width: 902px) {
    .countdown li h1 {
        font-size: 50px;
        width: 80px;
    }
}

@media (max-width: 695px) {
    .countdown li {
        margin: 0 10px;
    }
    .countdown p {
        font-size: 9px;
    }
    h3 {
        font-size: 16px !important;
    }
    .countdown li h1 {
        font-size: 30px;
        width: 50px;
    }
    .img {
        display: none;
    }
    .page {
        background: url(http://placehold.it/1920x2000);
        background-size: cover;
    }
}