

<a href="https://www.computertje.be" target="_blank"><div id="topbanner" class="bg-red">
    Bent u een particulier? <span class="underline">Klik hier</span>.
</div></a>

<!-- website frame -->
<span class="frame-line top-frame"></span>
<span class="frame-line right-frame"></span>
<span class="frame-line bottom-frame"></span>
<span class="frame-line left-frame"></span>
<!-- end website frame -->

<!-- header -->
<header>
    <a href="#navigation" class="nav-trigger">
        Menu <span></span>
    </a>
</header>





<div class="banner">
    <div class="center">
        <div class="col-md-12 text-body " data-wow-delay=".3s">

            <h1><%- title %></h1>
            <h2 class="subtitle"><%- subtitle %></h2><br />
            <p><%- text %></p><br />
        </div>
    </div>

    <div style="bottom:0;position: absolute;left:20vw;bottom:10px;z-index: 999;">
        <a href="paketten" class="alt-color  default-btn">Bekijk&nbsp;pakketten</a>
    </div>

    <div style="bottom:0;position: absolute;left:70vw;bottom:10px;z-index: 999;">
        <a href="contact" class="alt-color default-btn">Vraag&nbsp;advies</a>
    </div>
</div>