
    <!-- website frame -->
    <span class="frame-line top-frame"></span>
    <span class="frame-line right-frame"></span>
    <span class="frame-line bottom-frame"></span>
    <span class="frame-line left-frame"></span>
    <!-- end website frame -->

    <!-- header -->
    <header>
        <a href="#navigation" class="nav-trigger">
            Menu <span></span>
        </a>
    </header>



    <div class="banner">
        <div class="logo">
            <a href="/">
                <img src="img/Amiros.png" height="60" width="auto">
            </a>
        </div>

        <div class="center" style="width: 80vw;margin-left: 8vw;">

            <div class="col-md-12 text-body " data-wow-delay=".3s">

                <h1><%- title %></h1>
                <br />
                <h2 class="subtitle"><%- subtitle %></h2>
                <p><%- text %></p>


                <div class="row center justify-center mt-3">
                    <div class="col-md-1">
                        <a href="" class="alt-color  default-btn">Bekijk&nbsp;pakketten</a>
                    </div>
                    <div class="col-md-9">&nbsp;</div>
                    <div></div>
                    <div class="col-md-1">
                        <a href="" class="alt-color default-btn">Vraag&nbsp;advies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>