<section style="position: relative;">
        <a class="back-to-top"><i class="fa fa-arrow-up"></i></a>

        <div class="row">
            <div class="col-md-7">&nbsp;</div>
            <div class="col-md-5">
                <ul class="social-footer pull-right mr-5">
                    <li><a href="https://www.facebook.com/Amiros.be/" target="_blank"><i
                                class="ion-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>


        <div class="center">
            © 2026 Amiros -
            <a href="conditions/privacyverklaring.html" class="alt-color">Privacyverklaring</a>
            / <a href="conditions/cookiebeleid.html" class="alt-color">Cookiebeleid</a>
            / <a href="conditions/algemenevoorwaarden.html" class="alt-color">Algemene voorwaarden</a> <br />
            BE1007.644.413 - ON: 1007.644.413
        </div>
    </section>