<nav class="nav-container" id="navigation">
    <ul class="nav">
        <li class="mobilew100 mobiletextcenter"><a class="link" href="index.html">Home</a></li>

        <li class="has-dropdown mobilew100 mobiletextcenter">
            <a class="link" href="diensten.html">Diensten</a>

            <ul class="dropdown m-none">
                <li class="mobilew100 mobiletextcenter"><a href="website-maken.html">Website</a></li>
                <li class="mobilew100 mobiletextcenter"><a href="software.html">Software</a></li>
                <li class="mobilew100 mobiletextcenter"><a href="digitale-partner.html">Digitale partner</a></li>
                <li class="mobilew100 mobiletextcenter"><a href="branding.html">Branding</a></li>
            </ul>
        </li>
        
        <li class="mobilew100 mobiletextcenter"><a class="link" href="paketten.html">Paketten</a></li>
        <li class="mobilew100 mobiletextcenter"><a class="link" href="over-ons.html">Over ons</a></li>
        <li class="mobilew100 mobiletextcenter"><a class="link" href="FAQ.html">FAQ</a></li>
        <li class="mobilew100 mobiletextcenter"><a class="link" href="contact.html">Contact</a></li>
    </ul>
</nav>