<nav class="nav-container" id="navigation">
    <ul class="nav">
        <li><a class="link" href="home.html">Home</a></li>

        <li class="has-dropdown">
            <a class="link" href="diensten.html">Diensten</a>

            <ul class="dropdown">
                <li><a href="website-maken.html">Website</a></li>
                <li><a href="software.html">Software</a></li>
                <li><a href="digitale-partner.html">Digitale partner</a></li>
                <li><a href="branding.html">Branding</a></li>
            </ul>
        </li>
    </ul>
</nav>